on early-boot
    # Insmod Cedrus VPU & V4L2 kernel modules
    insmod /vendor_dlkm/lib/modules/mc.ko
    insmod /vendor_dlkm/lib/modules/videodev.ko
    insmod /vendor_dlkm/lib/modules/videobuf2-common.ko
    insmod /vendor_dlkm/lib/modules/videobuf2-memops.ko
    insmod /vendor_dlkm/lib/modules/videobuf2-v4l2.ko
    insmod /vendor_dlkm/lib/modules/videobuf2-dma-contig.ko
    insmod /vendor_dlkm/lib/modules/v4l2-mem2mem.ko
    insmod /vendor_dlkm/lib/modules/sunxi-cedrus.ko

on boot
    # VPU hardware video decoder node permissions
    chmod 0666 /dev/video0
    chmod 0666 /dev/media0
    chown media media /dev/video0
    chown media media /dev/media0
