on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    copy /vendor/etc/wifi/wpa_supplicant.conf /data/vendor/wifi/wpa/wpa_supplicant.conf
    chmod 0660 /data/vendor/wifi/wpa/wpa_supplicant.conf
    chown wifi wifi /data/vendor/wifi/wpa/wpa_supplicant.conf
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi

    # Insmod wireless vendor kernel modules before Zygote, HALs, and netd start
    insmod /vendor/etc/modules/uwe5622_bsp_sdio.ko
    insmod /vendor/etc/modules/sprdwl_ng.ko
    insmod /vendor/etc/modules/sprdbt_tty.ko

on boot
    # Wi-Fi and Bluetooth RFKILL permissions & unblock
    chmod 0666 /dev/rfkill
    write /sys/class/rfkill/rfkill0/state 1
    write /sys/class/rfkill/rfkill0/soft 0
    chmod 0666 /sys/class/rfkill/rfkill0/state
    chmod 0666 /sys/class/rfkill/rfkill0/soft
    chmod 0666 /sys/class/rfkill/rfkill1/state
    chmod 0666 /sys/class/rfkill/rfkill1/soft
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill1/type

    chmod 0666 /sys/class/rfkill/rfkill2/state
    chmod 0666 /sys/class/rfkill/rfkill2/type
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill2/state
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill2/type

    # Only for sprd device sysfs rfkill
    chmod 0666 /sys/devices/platform/mtty/rfkill/rfkill1/state
    chmod 0666 /sys/devices/platform/mtty/rfkill/rfkill1/type

    # Bluetooth UART device & permissions
    chmod 0660 /dev/ttyBT0
    chown bluetooth net_bt_admin /dev/ttyBT0

    # Bluetooth LPM & sleep wake controls
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/btwake
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwake
